.gcloudignore
.git
.gitignore
__pycache__/
*.pyc
.pytest_cache/
*.pyo
*.pyd
.Python
env/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.env
venv/
.venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
*.swp
*.db
